<!-- <p>featured-items works!</p> -->
<div ng2-carouselamos [items]="featuredItems" [width]="800" [$prev]="prev" [$next]="next" [$item]="item">
</div>

<ng-template #prev>
    <img src="../../assets/baseline-chevron_left-24px.svg" alt="">
</ng-template>

<ng-template #next>
    <img src="../../assets/baseline-chevron_right-24px.svg" alt="">
</ng-template>

<ng-template #item let-i="index">
    <div class="gabegrid-tilewrapper">
        <h2>
            Featured Item: {{featuredItems[i]['title']}}
        </h2>
        <div class="gabegrid-featurewrapper">
            <img (click)="sendItemToParent(featuredItems[i])" class="gabegrid-product-feature-image" src="{{featuredItems[i]['imageUrl']}}" alt="{{featuredItems[i]['title']}}">
        </div>
    </div>
</ng-template>