<div class="gabegrid-bubble-display">
    <!-- <p>selected-item works!</p> -->
    <p>
        Selected item w/ ID#: {{targetProduct['_id']}}
    </p>
    <h3>
        {{targetProduct['title']}} | ${{targetProduct['price']}}
    </h3>
    <p>
        {{targetProduct['description']}}
    </p>
    <button mat-raised-button color="accent" (click)="addProductToCart()">Add to Cart</button>
    <hr>
    <button mat-stroked-button color="warn" (click)="sendProductFilterToParent(targetProduct['category'])">
        Category: {{targetProduct['category']}}
    </button>
</div>
