<hr>
<!-- <p>item-navigator works!</p> -->
<!-- <ng-template ngFor let-item [ngForOf]="tiles" let-i="index"> -->
<div *ngIf="tiles.length > 0">
    <div ng2-carouselamos [items]="tiles" [width]="800" [$prev]="prev" [$next]="next" [$item]="item">
    </div>

    <ng-template #prev>
        <button (click)="decrementIdx()">Left</button>
    </ng-template>

    <ng-template #next>
        <button (click)="incrementIdx()">Right</button>
    </ng-template>

    <ng-template #item let-i="index">
        <!-- <div class="gabegrid-tilewrapper"> -->
        <div #element role="dialog" class="gabegrid-tilewrapper">
            <ng-template ngFor let-item [ngForOf]="tiles[i]" let-j="index">
                <button #elementChild class="gabegrid-product-tile" (focus)="sendItemToParent(item); speakFeaturedProduct(item.title)" (click)="sendItemToParent(item)"
                    (keydown.space)="sendProductFilterToParent(item['category'])">{{item['title']}}</button>
            </ng-template>
        </div>

        <!-- </div> -->

    </ng-template>

</div>
<hr>
