<div *ngIf="cartKeys.length > 0" class="gabegrid-tilewrapper">
    <button mat-raised-button color="accent" (click)="speakCart()">Read Cart</button>
    <h3>
        Items in cart:
    </h3>
    <p *ngFor="let key of cartKeys">
        {{key}}: {{cart[key]['quantity']}}
    </p>
    <button class="gabegrid-ui-button" mat-raised-button color="accent" (click)="checkout()">Checkout</button>
    <button class="gabegrid-ui-button" mat-raised-button color="accent" (click)="clearCartItems()">Clear Cart</button>
</div>
<div *ngIf="cartKeys.length == 0" class="gabegrid-bubble-display">
    <p>
        No items in cart yet!
    </p>
</div>