<!--The content below is only a placeholder and can be replaced.-->
<div class="gabegrid-container">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <select (change)="initSpeech(selectedVoice)" [(ngModel)]="selectedVoice">
    <ng-template ngFor let-item [ngForOf]="speechVoices" let-i="index">
      <option value="{{item['name']}}">{{item['name']}}</option>
    </ng-template>
  </select>
  <button (click)="featureMode(); getProductsFromService()">Featured Items</button>
  <button (click)="getProductsFromService()">All Items</button>
  <button (click)="cartMode()">Cart</button>
  <!-- <button [routerLink]="['/productTile']">Selection Details</button> -->

  <!-- <hr> -->
  
  <ng-template [ngIf]=" displayMode == 'featured' && featuredItems.length > 0">
    <app-featured-items [featuredItems]="featuredItems"></app-featured-items>
  </ng-template>

  <ng-template [ngIf]=" displayMode == 'selected' ">
    <app-selected-item [targetProduct]="targetProduct" (productToCart)="addToCart($event)" (productFilter)="filterProducts($event)"></app-selected-item>
    <!-- <app-item-tags [productCategory]="targetProduct['category']" (productFilter)="filterProducts($event)"></app-item-tags> -->
    <!-- get tags from navigator OUTPUT -->
  </ng-template>

  <ng-template [ngIf]=" displayMode == 'cart' ">
    <app-cart [cart]="cart" (clearCart)="clearCart()" (sendSpeech)="recieveSpeech($event)"></app-cart>
  </ng-template>
  
  <app-item-navigator [tiles]="tileGroups" 
  (sendProduct)="productMode($event)" 
  (productFilter)="filterProducts($event)"
  ></app-item-navigator>
  <!-- get product list via INPUT from app component -->
  
  <!-- app-textToSpeech -->
  <router-outlet></router-outlet>
</div>
