<!--The content below is only a placeholder and can be replaced.-->
<div class="gabegrid-container">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
    <mat-tab label="Browse">
      <button class="gabegrid-ui-button" mat-raised-button color="accent"
        (click)="featureMode(); getProductsFromService()">Featured Items</button>
      <button class="gabegrid-ui-button" mat-stroked-button color="warn" (click)="getProductsFromService()">Clear Filters</button>
      <!-- <button mat-raised-button color="accent" (click)="cartMode()">Cart</button> -->
      <!-- <button [routerLink]="['/productTile']">Selection Details</button> -->

      <!-- <hr> -->

      <ng-template [ngIf]=" displayMode == 'featured' && featuredItems.length > 0">
        <app-featured-items [featuredItems]="featuredItems" (sendProduct)="productMode($event)"></app-featured-items>
      </ng-template>

      <ng-template [ngIf]=" displayMode == 'selected' ">
        <app-selected-item [targetProduct]="targetProduct" (productToCart)="addToCart($event)"
          (productFilter)="filterProducts($event)"></app-selected-item>
        <!-- <app-item-tags [productCategory]="targetProduct['category']" (productFilter)="filterProducts($event)"></app-item-tags> -->
        <!-- get tags from navigator OUTPUT -->
      </ng-template>
    </mat-tab>
    <mat-tab label="Cart">
      <!-- <ng-template [ngIf]=" displayMode == 'cart' "> -->
      <app-cart [cart]="cart" [cartKeys]="cartKeys" (clearCart)="clearCart()" (sendSpeech)="recieveCartSpeech($event)">
      </app-cart>
      <!-- </ng-template> -->
    </mat-tab>
    <mat-tab label="Settings">
      <div class="gabegrid-settings-ui">
        <h4>
          Text to Speech Voice:
        </h4>
        <mat-form-field>
          <mat-select (selectionChange)="initSpeech(selectedVoice)" [(ngModel)]="selectedVoice">
            <ng-template ngFor let-item [ngForOf]="speechVoices" let-i="index">
              <mat-option value="{{item['name']}}">{{item['name']}}</mat-option>
            </ng-template>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-item-navigator [tiles]="tileGroups" (sendProduct)="productMode($event)" (sendTab)="selectTab(0)"
    (productFilter)="filterProducts($event)" (sendSpeech)="recieveSpeech($event)"></app-item-navigator>
  <!-- get product list via INPUT from app component -->

  <!-- app-textToSpeech -->
  <router-outlet></router-outlet>
</div>