

.gabegrid-container{
    width:970px;
    margin: 0px auto;
    text-align: center;
}

.gabegrid-bubble-display{
    /* border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px; */
    width: 740px;
    min-height: 340px;
    margin: 0px auto 20px auto;

}

.gabegrid-product-tag{
    display: inline-block;
    vertical-align: top;
    margin: 0px 12px 0px 12px;
}

.gabegrid-product-tile{
    width: 180px;
    height: 180px;
    display: inline-block;
    vertical-align: top;

    /* overflow-x: hidden !important; */
    white-space: pre-wrap !important;
}

.gabegrid-tilewrapper{
    min-width: 760px;
    min-height: 340px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
}

.gabegrid-featurewrapper{
    width: 720px;
    height: 240px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    margin: 0px 10px;
    overflow: hidden;
}

.gabegrid-featurewrapper img{
    margin-top: -10%;
}

.gabegrid-product-tile button{
    width: inherit;
    height: inherit;

}

.gabegrid-product-thumbnail {
    width: 800px;
    margin-left: -100px;
    margin-top: -200px;
    /* height: inherit; */
    /* height: 330px; */
}

.gabegrid-product-display-left, .gabegrid-product-display-right{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 340px;
    margin: 0px 10px 0px 10px;
    overflow: hidden;
}

.gabegrid-product-display-left{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
}

.gabegrid-product-feature-image{
    width: inherit;
}

.gabegrid-ui-button{
    margin: 15px 10px 15px 10px;
}

.gabegrid-item-select-ui{
    display: block;
    margin: 0px auto 15px auto;
}

.gabegrid-settings-ui h4, .gabegrid-settings-ui mat-form-field{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 10px;
}