<!--The content below is only a placeholder and can be replaced.-->
<div class="gabegrid-container">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <button (click)="featureMode()">Featured Items</button>
  <button (click)="getProductsFromService()">All Items</button>
  <!-- <button [routerLink]="['/productTile']">Selection Details</button> -->
  <hr>
  
  <ng-template [ngIf]=" displayMode == 'featured' ">
    <app-featured-items></app-featured-items>
  </ng-template>

  <ng-template [ngIf]=" displayMode == 'selected' ">
    <app-selected-item [targetProduct]="targetProduct"></app-selected-item>
    
    <app-item-tags [productCategory]="targetProduct['category']" (productFilter)="filterProducts($event)"></app-item-tags>
    <!-- get tags from navigator OUTPUT -->
  </ng-template>
  
  <app-item-navigator [tiles]="tileGroups" (sendProduct)="productMode($event)" (sendTags)="setProductTags($event)"></app-item-navigator>
  <!-- get product list via INPUT from app component -->
  
  <!-- app-textToSpeech -->
  <router-outlet></router-outlet>
</div>
